{% extends 'base.html' %}

{% block content %}
    {% include 'navbar.html' %}
    <hr class=" border-gray-400">

    <div class="max-w-4xl mx-auto p-6 bg-gray-800 rounded-lg shadow-lg">
        <!-- Product Name -->
        <h1 class="text-4xl font-semibold text-center text-white mb-6">{{ product.name }}</h1>

        <!-- Image Section -->
        <div class="flex justify-center mb-8">
            {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="max-w-[500px] h-auto shadow-lg rounded-lg">
            {% else %}
                <p class="text-gray-300">No image available</p>
            {% endif %}
        </div>

        <!-- Product Details -->
        <div class="text-left text-white ml-6 mb-8">
            <p class="text-xl font-bold mb-3"><strong>Price:</strong> ${{ product.price }}</p>
            <p class="text-lg text-gray-300 mb-6"><strong>Description:</strong> {{ product.description }}</p>
        </div>

        <!-- Add to Cart Button -->
        <div class="flex justify-center">
            <a href="{% url 'cart_product' pk=product.pk username=request.user.username %}" 
            class="btn-md bg-blue-600 text-white font-semibold py-3 px-8 rounded-lg shadow-md hover:bg-blue-700 transform hover:scale-105 transition-all duration-300">
                Add to Cart
            </a>
        </div>
    </div>
{% endblock %}
